@charset "UTF-8";

@font-face {
    font-family: Sofia Pro;
    src: url("../f1-taxes/Sofia Pro Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    padding-top: 50px;    
}

h1 {
    font-family: "Sofia Pro", Arial, sans-serif;
    font-size: 40px;
    text-align: center;
 }

