@charset "UTF-8";

@font-face {
    font-family: Sofia Pro;
    src: url("../f1-taxes/Sofia Pro Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Calibre;
    src: url("../f1-taxes/Calibre-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Tiempos Text;
    src: url("../f1-taxes/TiemposText-Medium.otf") format('opentype');
    font-weight: medium;
    font-style: normal;
}

body {
    padding-top: 50px;    
}

h1 {
    font-family: "Sofia Pro", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 10%;
    text-align: center;
 }

h2 {
    font-family: "Calibre", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
 }

p {
    font-family: "Tiempos Text", Times, serif;
    font-weight: medium;
    font-size: 15px;
    line-height: 120%;
    text-align: left;
}

.centered {
	width: 800px;
	height: 3500px;
	margin: auto;
}

.textbox {
    height: 200px;
    width: 300px;
    position: relative;
}

.spacer {
	width: 800px;
	height: 20px;
	margin: auto;
}

.dottedline {
	width: 100px;
	height: 5px;
	margin: auto;
}
	
.circle {
	float: left;
	width: 5px;
	height: 5px;
	background: hsl(0,0%,0%);
	border-radius: 2.5px;
	margin: 0px 10px 0px 10px;
}

.intro {
	height: 200px;
	width: 650px;
	margin: auto;
}

.introimg {
	height: 200px;
	width: 300px;
	margin-right: 50px;
	position: relative;
}
