@charset "UTF-8";

@font-face {
    font-family: Sofia Pro;
    src: url("../f1-taxes/Sofia Pro Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Calibre;
    src: url("../f1-taxes/Calibre-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Tiempos Text;
    src: url("../f1-taxes/TiemposText-Medium.otf") format('opentype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: Tiempos Text;
    src: url("../f1-taxes/TiemposText-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Tiempos Text;
    src: url("../f1-taxes/TiemposText-BoldItalic.otf") format('opentype');
    font-weight: Bold;
    font-style: italic;
}

@font-face {
    font-family: Tiempos Headline;
    src: url("../f1-taxes/TiemposHeadline-Black.otf") format('opentype');
    font-weight: Black;
    font-style: normal;
}

body {
    padding-top: 100px;
    margin: 0px;
}

h1 {
    font-family: "Sofia Pro", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
 }

h2 {
    font-family: "Calibre", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    letter-spacing: 1.5px;
 }

h3 {
    font-family: "Tiempos Headline", Helvetica, sans-serif;
    font-weight: black;
    font-size: 25px;
    text-align: center;
    color: #0098ff;
    line-height: 40%;
    letter-spacing: 0px;
}

h4 {
  font-family: "Sofia Pro", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
  text-align: center;
}

h5 {
  font-family: "Sofia Pro", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
  text-align: left;
  padding-left: 50px;
  color: #0098ff;
}

h6 {
    font-family: "Calibre", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    padding-top: 9.5px;
}

p {
    font-family: "Tiempos Text", Times, serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    text-align: left;
    display: block;
}


a:link {
  color: inherit;
  text-decoration: none;
}


a:visited {
  color: inherit;
  text-decoration: none;
}


.header {
    height:50px;
    width: 100%;
    background: hsl(0, 0%, 100%);
    position: fixed;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-bottom-color: hsl(205, 100%, 90%);
    top: 0px;
    padding-bottom:50px;
    margin-bottom: 100px;
    z-index: 100000;
}

.footer {
    height:20px;
    width: 100%;
    background:hsl(205, 100%, 70%);
    margin: auto;
    position: fixed;
    bottom:0px;
    z-index: 100000;
}

.centered {
	width: 800px;
	margin: auto;
}

.header120px {
  width: 120px;
  height: 25px;
  background-color: white;
  border-color: hsl(205,80%,95%);
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  margin: auto;
}

.header170px {
  width: 170px;
  height: 25px;
  background-color: white;
  border-color: hsl(205,80%,95%);
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  margin: auto;
}

.header250px {
  width: 250px;
  height: 25px;
  background-color: white;
  border-color: hsl(205,80%,95%);
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  margin: auto;
}

.headerb170px {
  width: 170px;
  height: 30px;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
  margin: auto;
}

.button300px {
  width: 300px;
  height: 30px;
  background-color: #0098ff;
  margin: auto;
  transition: transform 0.1s ease-in-out;
  position: relative;
  top: -3px;
  left: -3px;
  z-index: 99;
}

.button300px:hover {
	      transform: translate(3px, 3px);
}


.buttonshadow300px {
  width: 300px;
  height: 30px;
  background-color: #005d9c;
  margin: auto;
  position: relative;
  top: -30px;
  z-index: 98;
}

.greenbutton {
  width: 150px;
  height: 30px;
  background-color: #00c967;
  margin: auto;
  transition: transform 0.1s ease-in-out;
  position: relative;
  top: -3px;
  left: 27px;
  z-index: 99;
  float:left;
}

.greenbutton:hover {
	      transform: translate(3px, 3px);
}

.greenbuttonshadow {
  width: 150px;
  height: 30px;
  background-color: #0b5e32;
  margin: auto;
  position: relative;
  left:-120px;
  z-index: 98;
  float:left;
}

.redbutton {
  width: 150px;
  height: 30px;
  background-color: #ff2e2e;
  margin: auto;
  transition: transform 0.1s ease-in-out;
  position: relative;
  top: -33px;
  left: 217px;
  z-index: 99;
  float:left;
}

.redbutton:hover {
	      transform: translate(3px, 3px);
}

.redbuttonshadow {
  width: 150px;
  height: 30px;
  background-color: #7f1b1b;
  margin: auto;
  position: relative;
  top: 0px;
  left: 95px;
  z-index: 98;
}


.textbox300px {
    height: 200px;
    width: 300px;
    display: block;
    float: left;
}

.textbox400px {
  width: 400px;
  display: block;
  margin: auto;
}

.textbox600px {
  width: 600px;
  padding-top: 20px;
  display: block;
  margin: auto;
}

.spacer5px {
	width: 800px;
	height: 5px;
	margin: auto;
}

.spacer10px {
	width: 800px;
	height: 10px;
	margin: auto;
}

.spacer20px {
	width: 800px;
	height: 20px;
	margin: auto;
}

.spacer40px {
	width: 800px;
	height: 40px;
	margin: auto;
}

.spacer60px {
	width: 800px;
	height: 60px;
	margin: auto;
}

.spacer80px {
	width: 800px;
	height: 80px;
	margin: auto;
}

.dottedline {
	width: 100px;
	height: 5px;
	margin: auto;
}

.circle {
	float: left;
	width: 5px;
	height: 5px;
	background: hsl(0,0%,0%);
	border-radius: 2.5px;
	margin: 0px 10px 0px 10px;
}

.intro {
	height: 200px;
	width: 650px;
	margin: auto;
}

.forms {
  height: 1500px;
  width: 800px;
  margin: auto;
}

.introimg {
	height: 200px;
	width: 300px;
	margin-right: 50px;
  display: block;
	float: left;
}

.graph {
	height: 100px;
	width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
	margin-left: 100px;
}

.graphlarge {
	height: 400px;
	width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
	margin-left: 100px;
}

.forms {
	height: 200px;
	width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
	margin-left: 100px;
}

.form {
	height: 300px;
	width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
	margin-left: 100px;
}
